*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

/*                                            TITLES                                                  */

.titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
}


/*                                          BUTTONS CONTAINER                                             */

.buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
}



button {
    padding: 10px;
}

/*                                        GAME-CONTAINER                                                  */

.easy-game, .medium-game, .hard-game, .mastermind-game {
    display: none;
}

.easy-game-active, .medium-game-active, .hard-game-active, .mastermind-game-active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 0 auto;
    perspective: 1000px;
    margin: 0 10px;
}

.info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 7vh;
    font-size: 1.2em;
}

.flips {
    padding: 0 25px;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    cursor: pointer;
}

.card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background-color: black;
    backface-visibility: hidden;
}

.back-face {
    background-image: url(../ressources/Backcard.jpg);
    transform: rotateY(180deg);
}

img {
    width: 100%;
    border-radius: 7px;
}